python-docx==0.8.11
psutil==5.9.0
requests==2.27.1
git+https://github.com/orendar/python-tabulate
tqdm==4.64.0
p_tqdm
gdown==4.4.0
torch~=1.11.0
transformers~=4.18.0
flask==2.1.1
sentencepiece==0.1.96
